* {
    box-sizing: border-box;
    user-select: none;
  }
.main {
    position: absolute;
    background-color: #000;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #eee;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    .nav {
        // background-color: #ccc;
        width: 51rem;
        .nav-item {
            .nav-link {
                cursor: pointer;
                margin-bottom: -1px;
                border: 1px solid transparent;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
                color: rgba(255, 255, 255, 0.795);
            }
            .nav-link:hover {
                color: rgb(255, 255, 255);
            }
            .active {
                color: #495057;
                background-color: #fff;
            }
            .active:hover {
                color: #495057;
            }
        }
    }
    .nav-tabs {
        // border-right: 1px solid #dee2e6;
        // border-bottom-right-radius: 0.25rem;
        border-bottom: 1px solid #e6e5de;
    }
    .sysInfo {
        position: absolute;
        top: 0.5rem;
        left: 87rem;
        right: 0.5rem;
        bottom: 0.5rem;
        border: 2px solid #ccc;
        // height: 34.5rem;
        // width: 95%;
        padding: 0.5rem;
        border-image: url("/icons/ui/border2.png") 81 40/60px 50px/0.5rem round;
        .battleInfo {
            position: absolute;
            // top: 1rem;
            left: 1rem;
            border-bottom: 2px dotted #ccc;
            height: 33%;
            width: 95%;
            padding: 1.5rem;
            .clear {
                cursor: pointer;
                position: absolute;
                right: 2rem;
                top: 1rem;
            }
            #battleInfo {
                margin-top: 1.5rem;
                overflow-y: auto;
                transition: 0.2s;
                width: 100%;
                height: 90%;
                text-align: left;
            }
        }   
        .generalInfo {
            position: absolute;
            top: 34%;
            left: 1rem;
            // border: 2px solid #ccc;
            height: 66%;
            width: 95%;
            padding: 1.5rem;
            .clear {
                cursor: pointer;
                position: absolute;
                right: 2rem;
                top: 1rem;
            }
            #sysInfo {
                overflow-y: auto;
                margin-top: 1.5rem;
                transition: 0.2s;
                width: 100%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        } 
        .dmged > span {
            color: #f90202;
        }
        .dmg > span {
            color: #fff;
        }
        .win > span {
            color: #2fe20f;
        }
        .lose > span {
            color: #24c4de;
        }

    }
    .map {
        position: absolute;
        right: 0.5rem;
        left: 51.5rem;
        top: 0.5rem;
        bottom: 0.5rem;
        width: 35rem;
        border: 2px solid #ccc;
        border-image: url("/icons/ui/border2.png") 81 40/60px 50px/0.5rem round;

        .zoneSelect {
            margin: 1rem 1.5rem;
            position: absolute;
            // border: 2px solid #ccc;
            border-top: 2px solid #ccc;
            left: 0.5rem;
            top: 12.5rem;
            height: calc(100% - 15rem);
            width: 89%;
            padding: 1rem;
            .zoneAction {
                text-align: left;
                width: 100%;
                button {
                    margin: 0.1rem;
                    width: 7rem;
                }
            }
            .zone {
                position: relative;
                background-image: url("/icons/maps/fairbreezeValley.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 100%;
                height: 100%;
                max-height: 20rem;
                // height: 20.3rem;
                margin: auto;
                overflow: hidden;
                .dungeon {
                    position: absolute;
                    cursor: pointer;
                    width: 3rem;
                    height: 3rem;
                    border: 1px solid #111;
                    background: rgba(0, 0, 0, 0.5);
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .lv {
                        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
                    }
                }
            }
        }
    }
    .menus {
        position: absolute;
        bottom: 0.5rem;
        background: rgba($color: #fff, $alpha: 0.4);
        left: 0.5rem;
        width: 10rem;
        padding: 0.1rem;
        border-top-right-radius: 0.1rem;
        display: flex;
        z-index: 10;
        & > div {
                display: flex;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                margin: 0 0.2rem;
                justify-content: left;
            span {
                color: #fff;
                font-size: 0.3rem;
                line-height: 0.3rem;
                padding: 0.1rem 0;
                font-weight: bold;
                text-shadow: 1px 1px 3px rgb(0, 0, 0);
            }
        }
        .menu {
            height: 3rem;
            width: 3rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .displayEquip {
        position: absolute;
        display: none;
        z-index: 10;
        & > div {
            margin: 0.1rem;
        }
        display: flex;
        justify-content: space-between;
    }
    .w-80 {
        width: 80%;
        font-size: 0.8rem;
    }

    .scrollbar-morpheus-den::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px; 
        background-color: rgb(255, 255, 255);
    }
    .scrollbar-morpheus-den::-webkit-scrollbar {
        width: 12px;
    }
    .scrollbar-morpheus-den::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(to bottom, #48bcff 0%, #703ead 100%); 
    }
    .scrollbar-morpheus-den {
        scrollbar-color: #330867 #F5F5F5;
    }

    .scrollbar-square::-webkit-scrollbar-track {
        border-radius: 0px; 
    }

    .glow{  
        animation: glowing 1500ms infinite;
    }

    @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    }

    .iconBorder{     
        position: absolute;
    }
    .iconBorder.grey {    
        position: absolute;
        filter: url(#greyBorder)
    }
    .iconBorder.green {    
        position: absolute;
        filter: url(#greenBorder)
    }
    .iconBorder.blue {    
        position: absolute;
        filter: url(#blueBorder)
    }
    .iconBorder.purple {    
        position: absolute;
        filter: url(#purpleBorder)
    }
    .iconBorder.orange {    
        position: absolute;
        filter: url(#orangeBorder)
    }
    .largeIcon {
        width: 68px;
        height: 68px;
        background-image: url(/icons/other/largeBorder.png);
    }
    .mediumIcon {
        width: 44px;
        height: 44px;
        background-image: url(/icons/other/mediumBorder.png);
    }
    .smallIcon {
        width: 26px;
        height: 26px;
        background-image: url(/icons/other/smallBorder.png);
    }
    .largeIconContainer {
        position: relative;
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 0.3rem;
        img {
            width: 56px;
            height: 56px;
        }
    }
    .mediumIconContainer {
        position: relative;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 0.3rem;
        left: -2px;
        top: -2px;
        img {
            width: 38px;
            height: 38px;
        }
    }
    .smallIconContainer {
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 0.3rem;
        left: -2px;
        top: -2px;
        img {
            width: 21px;
            height: 21px;
        }
    }
}